<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Labs Test">
    <test name = "Sauce Labs Test">
        <classes>
            <class name="org.SauceLabs.SauceLabsTest">
                <methods>
                    <exclude name="testMultipleLogins"/>
                    <exclude name="testAddToCartButton"/>
                    <exclude name="testVerifyQuantityAdded"/>
                    <exclude name="testVerifyQuantityTwoAdded"/>
                    <exclude name="testRemoveProduct"/>
                    <exclude name="testVerifyCartDetails"/>
                    <exclude name="testVerifyCartDetailsSingleItem"/>
                    <include name="testEndToEndTransaction"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>